{% extends 'web/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert">
        Seu carro está seguro: <strong>Trancado</strong> e <strong>Parado</strong>
      </div>
      <div class="btn-group te">
        <button type="button" class="btn btn-default">Destrancar</button>
        <button type="button" class="btn btn-default">Ligar</button>
        <button type="button" class="btn btn-default">Tocar alarme</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}