{% extends 'web/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Av.+Professor+Melo+Moraes,Butantã,São+Paulo,Brasil&amp;aq=0&amp;oq=little&amp;sll=-23.5639636,-46.7254157&amp;sspn=-23.5639636,-46.7254157&amp;ie=UTF8&amp;hq=&amp;hnear=Butantã,São+Paulo,Brasil&amp;t=m&amp;ll=-23.5639636,-46.7254157&amp;spn=0.018982,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed">
    </iframe>
    </div>
  </div>
</div>
{% endblock %}